@import "../components/variables";
@import "../base/fonts";

.video-page {
	position: relative;
	height: 100vh;
}

#happiness-video-page{

    #happiness-top-square {
    background-color: $transGreen;
    margin-top: 0;
    }

    .page-1 {


     .overlay{
    background-image: url('../images/happiness_screenshot_1.png');
    }

    }

    .page-2 {


     .overlay{
    background-image: url('../images/happiness_screenshot_2.png');
    }
    }

       .page-3 {


     .overlay{
    background-image: url('../images/happiness_screenshot_3.png');
    }
    }



.main-page-dots {
    position: absolute;
    top: 80%;
}
    
.left, .right, .badge {cursor:pointer};
.text-white {
  color: #ffffff!important;
}

.section {
  margin-top: 16px!important;
  margin-bottom: 16px!important;
}

.white,.hover-white:hover {
  color:#000!important;
  background-color:#fff!important
}



.text-white,.hover-text-white:hover
{
  color:#ffffff!important;

}

.badge{
  background-color:#000;
  color:#ffffff;
  display:inline-block;
  height: 15px;
  width: 15px;
  padding-left:8px;
  padding-right:8px;
  text-align:center;
  border-radius:50%; 
  text-align: center!important;
  margin: 0 10px 0 0;

}


.border span{
  border: 1px solid #ffffff!important;
  border-radius: 50%;
}



.center{
    text-align:center!important;
}

.transparent {
      background-color: #b0afb0;
}


.large {
  font-size: 18px!important;
}

.selected {
    background-color: white;
}




.social-media-info {

        position: fixed;
        left: 30px;
        top: 69%;
        margin-bottom: 30px;

    p {
        font: $sm-sq-heading-p;
        display: inline-block;
        margin-right: 5px;
        margin-left: 10px;
        margin-bottom: 20px;
        margin-top: 20px;
       
    }

    .conversation-arrow {
        width: 10px;
    }

    .hashtag {
        font-family: $focolight!important;
        display: block;
    }

    .global-apn p{
        color: white;
        font: $sm-smalllink;

    }

}

.social-media-icons img {
    width: 40px;
    display: inline;
    margin: 5px 5px 5px 5px;
}



}




