.page{
	posiiton: relative;

	.share-your-story{
		padding-top: 7vh;
		padding-left: 18%;
		padding-right:4%;

		@include media($most-common-screen){
	        padding-left: 25%; 
	    }
		@include media($macbook-pro-13){
	        padding-left: 25%; 
	    }
		@include media($sm-desktop){
	        padding-left: 25%; 
	    }

	    @include media($mobile){
	        padding-left: 31%; 
	        padding-right:3%;
	    }

	    @include media($sm-mobile){
	    	padding-top: 55%;
	        padding-left: 4%; 
	        padding-right:4%;
	    }

		h2 {
	        font: $md-subheading;
	        color: $green;
	        text-align: left;

	        @include media($mobile){
	        	font: $xs-subheading;
	        }

	        &:nth-of-type(2){
				font-family: $foco!important;
				vertical-align: middle;
				margin-top:65px;

				img.green-down-arrow{
					width:15px;
					margin-left: 20px;
					vertical-align: middle;
					@include transform(rotate(90deg));
				}
	        }
	    }
	    p {
            font: $sm-sq-heading-p;
            font-family: $focolight!important;
            color: $gray; 
            padding-top: 10px;

            @include media($mobile){
            	font: $md-heading-p;
            }
        }
	}

	.stories-grid{
		padding-top: 0;
		padding-left: 20vw;
		padding-right:0;
		background: white;

		@include media($most-common-screen){
	        padding-left: 20vw; 
	    }
		@include media($macbook-pro-13){
	        padding-left: 20vw; 
	    }
		@include media($sm-desktop){
	        padding-left: 20vw; 
	    }

	    @include media($mobile){
	        padding-left: 33.333vw;
	    }
	    @include media($sm-mobile){
	    	padding-left: 0;
	    	padding-right: 0;
	    	
	    }

		ul.stories-container{
			height: 93vh;
			overflow-y: auto;


		    @include media($sm-mobile){
		    	padding-top: 0;

		    }

		    li{
		    	@include media($sm-mobile){
			    	&:nth-child(odd){
						border-right: 2.5px solid white!important;
				    }
			    	&:nth-child(even){
						border-left: 2.5px solid white!important;
				    }
				}
		    }

			li.story, li.mobile-top-square {
			    width: 20vw;
    			max-width: 20vw;
			    overflow: hidden;
			    height: 20vw;
			    display: inline-block;
			    position: relative;
			    background: $green;
			    border-left: 5px solid white;
    			border-bottom: 2px solid white;


			    @include media($most-common-screen){
			        height: 20vw;  
			    }
			    @include media($macbook-pro-13){
			        height: 20vw;  
			    }
			    @include media($sm-desktop){
			        height: 20vw;  
			    }
			    @include media($mobile){
			        width: 33.333vw;
			        max-width: 33.333vw;
			        height: 33.333vw;   
			    }
			    @include media($sm-mobile){
			        width: 50vw;
			        max-width: 50vw;
			        height: 50vw;   
			        border-left: 0;
			        border-bottom: 0;
			    }

			    div.individual-story-container{
			        width: 80%;
			        @include position(absolute, 50% null null 50%);
			        @include transform(translate(-50%, -50%));
			        h3 {
			            color: white;
			            text-align: center; 
			            vertical-align: middle;	
			            padding-bottom: 15px;
			            font: $sm-subheading; 

			            @include media($xl-desktop){
			                font: $md-subheading;    
			            }
			            @include media($desktop-bp){
			                font: $xs-subheading;    
			            }
			        }
			        div.underline{
			            width:30%;
			        }
			        p{
			        	font-family: $focolight!important;
			            color: white;
			    		text-align: center;
			    		width: 100%;
			    		margin: 0 auto;
			    		margin-top: 18px;
			            font: $xs-sq-heading-p;

			            @include media($xl-desktop){
			                font: $sm-sq-heading-p;   
			            }
			            @include media($sm-mobile){
			                font: $md-heading-p;
			            }
			        }
			    }
			}

		}
	}

	.social-media-hub{
		@include position(fixed, null null 0 0);
		display: block;
		border: 1px solid $green;
		width:20vw;
		height:20vw;

		@include media($most-common-screen){
	        width:20vw;
			height:20vw;  
	    }
	    @include media($macbook-pro-13){
	        width:20vw;
			height:20vw;   
	    }
	    @include media($sm-desktop){
	        width:20vw;
			height:20vw;   
	    }
	    @include media($mobile){
	        width: 33.333vw;
	        max-width: 33.333vw;
	        overflow: hidden;
	        height: 33.333vw;   
	    }
	    @include media($sm-mobile){
	        width: 50%;
	        max-width: 50%;
	        overflow: hidden;
	        height: 50vw;   
	    }
	}
}