// Global section styles

.page{
	width:100%;
	@include position(fixed, 0 0 0 0);
	@include transform(translateY(100%));
	@include transition(transform 1s $ease-in-out-quart);

	.section{
		height: 100vh;
		width:100vw;
		text-align: center;
		overflow: hidden;
		@include position(absolute, 0 0 0 0);
		@include transform(translateY(100%));
		@include transition(transform 1s $ease-in-out-quart);
	}

	section.sec-01{
		h1.page-title{
			font-family: 'Bella Heavy';
			font-size: 200px;
			color: white;
			margin-top: 46.5vh;

			@include media($xl-desktop){
				font-size: 22.5rem;
				margin-top: 47vh;
			}
			@include media($lg-desktop){
				font-size: 16.5rem;
				margin-top: 47vh;
			}
			@include media($xlsm-height){
				font-size: 16.5rem;
				margin-top: 47vh;
			}
			@include media($md-desktop){
				font-size: 16.5rem;
				margin-top: 47vh;
			}
			@include media($md-mobile){
				font-size: 7.5rem;
				margin-top: 47vh;
			}
		}
	}

	.section-title{
		padding-bottom: 30px;
	}

	&#D-page{
		section.sec-03{
			background: #000000;
		}
	}
}


