@include keyframes(pulse-animation) {
    0%,
    100%,
    30%,
    50%,
    60%,
    80% {
        @include transform(translateY(0));
    }
    40% {
        @include transform(translateY(8px));
    }
    70% {
        @include transform(translateY(5px));
    }
}

.m-arrow, .o-arrow, .d-arrow{
	background-size: auto 100%;
	background-image: url('../images/arrow.svg');
	background-repeat: no-repeat;
	min-height: 100%;
	width: 300%;
	z-index: -1;

	@include position(fixed, -1px 0 0 -2px);
	@include animation(pulse-animation 3s linear infinite);

	@include media($md-mobile){
		left: -45%;
	}
	@include media($sm-mobile){
		left: -75%;
	}
}

#slides-container{
	overflow: hidden;
	position: relative;
	
	#MOD-mask.omask{
		background-image: url('../images/MOD_Letters_Black-O.svg')!important;

		@include transform(translateX(-15.85%));
		@include transition(transform 1.5s $ease-in-out-quart);

		@include media($xl-desktop){
			@include transform(translateX(-17.5%));
		}
		@include media($xl-height){
			@include transform(translateX(-30.05%));
		}
		@include media($xlsm-height){
			@include transform(translateX(-4.5%));
		}
		@include media($lgsm-height){
			@include transform(translateX(-6.5%));
		}
		@include media($md-desktop){
			@include transform(translateX(-16%));
		}
		@include media($macbook-pro-13){
			@include transform(translateX(-16.25%));
		}
		@include media($sm-desktop){
			@include transform(translateX(-17%));
		}
		@include media($lg-mobile){
			@include transform(translateX(-19.05%));
			background-image: url('../images/MOD_Letters_Black-Mobile.svg')!important;
		}
		@include media($md-mobile){
			@include transform(translateX(-30.05%));
		}
		@include media($sm-mobile){
			@include transform(translateX(-35.05%));
		}
		@include media($xs-mobile){
			@include transform(translateX(-40.05%));
		}
		@include media($v-ipad-max-screen){
			@include transform(translateX(-30.25%));
		}
	}
	#MOD-mask.dmask{
		background-image: url('../images/MOD_Letters_Black-D.svg')!important;

		@include transform(translateX(-35.175%));
		@include transition(transform 1.5s $ease-in-out-quart);

		@include media($xl-desktop){
			@include transform(translateX(-31%));
		}
		@include media($xlsm-height){
			@include transform(translateX(-5%));
		}
		@include media($lgsm-height){
			@include transform(translateX(-12%));
		}
		@include media($md-desktop){
			@include transform(translateX(-30%));
		}
		@include media($macbook-pro-13){
			@include transform(translateX(-29.449%));
		}
		@include media($sm-desktop){
			@include transform(translateX(-28.449%));
		}
		@include media($lg-mobile){
			@include transform(translateX(-37.68%));
			background-image: url('../images/MOD_Letters_Black-Mobile.svg')!important;
		}
		@include media($md-mobile){
			@include transform(translateX(-50%));
		}
		@include media($sm-mobile){
			@include transform(translateX(-40%));
		}
		@include media($v-ipad-max-screen){
			@include transform(translateX(-58.75%));
		}
	}
	#MOD-mask.mmask{
		background-image: url('../images/MOD_Letters_Black-M.svg')!important;
		@include transform(translateX(20%));
		@include transition(transform 1.5s $ease-in-out-quart);

		@include media($lg-mobile){
			background-image: url('../images/MOD_Letters_Black-Mobile.svg')!important;
		}

	}
	.single-slide-bg{
		background-image: url('../images/MOD_Letters_Black.svg');
		background-repeat: no-repeat;
		@include position(fixed, -1px 0 0 -2px);
		min-height: 100%;
    	width: 300%;
		z-index: -1;
		background-size: auto 100%;

		@include media($v-iphone-6-plus){
			min-height:120%;
		}
	}
	.single-slide-bg.osingle{
		background-image: url('../images/MOD_O.svg')!important;
	}
	.single-slide-bg.dsingle{
		background-image: url('../images/MOD_D.svg')!important;
	}
	.single-slide-bg.msingle{
		background-image: url('../images/MOD_M.svg')!important;
	}
	#MOD-mask{
		background-image: url('../images/MOD_Letters_Black.svg');
		background-repeat: no-repeat;
		@include position(fixed, -1px 0 0 -2px);
		min-height: 100%;
    	width: 300%;
		z-index: -1;
		background-size: auto 100%;
		@include transform(translateX(0%));
		@include transition(transform 1.5s $ease-in-out-quart);

		@include media($sm-mobile){
			width:400%
		}
		&:before{
			content:'';
			display: block;
			// height:2.5vh;
			width: 300%;
			background: black;
			@include position(fixed, 0 0 null 0);
			
			@include media($h-ipad-max-screen){
				height:2.5vh;
			}
			@include media($v-iphone-6-plus){
				height:120px;
			}
			@include media($v-iphone-6){
				height:100px;
			}
			@include media($v-iphone-5){
				height: 80px;
			}
		}
		&:after{
			content:'';
			display: block;
			// height: 2.5vh;
			width: 300%;
			background: black;
			@include position(fixed, null 0 0 0);

			@include media($h-ipad-max-screen){
				height: 2.5vh;
			}

			@include media($v-iphone-6-plus){
				height:30px;
			}			
		}
	}

	.slide{
		overflow: hidden;
		width: 100vw;
		height: 100vh;
		@include position(absolute, 0 0 0 0);
		@include transition(transform 1s $ease-in-out-quart);
	}

	.hide-letters{
		@include position(fixed, 0 0 0 0);
		width:100%;
		height: 100%;
		z-index: 3;

	}

	.slide-info{
		@include position(fixed, 48.5vh null null 5.468vw);
		z-index: 999;
		opacity:0;
		@include transform(translateY(100px));

		@include media($xl-desktop){
			left: 8.068vw;
		}
		@include media($sm-desktop-height){
			left: 5.468vw;
		}
		@include media($most-common-screen){
			left: 5.468vw;
		}
		@include media($macbook-pro-13){
			left: 5.468vw;
		}
		@include media($h-ipad-max-screen){
			left: 5.468vw;
		}
		@include media($v-iphone-6-plus){
			top:50%;
			width:90%;
			left: 15px;
		}
		@include media($v-iphone-6){
			top:22%;
		}
		@include media($v-iphone-5){
			top:22%;
		}
		.slide-title{
			
			vertical-align: top;
			display: inline-block;
		}
		.slide-subtext{
			display:inline-block;
			vertical-align: top;
			margin-left: 2.03vw;
			margin-top: 0px;
			
			@include media($v-iphone-6-plus){
				width:60%;
			}
			h2{
				margin-bottom: 15px;
			}
			p{
				margin-top: 5vh;
				max-width: 28vw;
				
				@include media($xl-desktop){
					max-width: 20vw;
				}
				@include media($lg-mobile){
					max-width: 50vw;
				}
				@include media($xs-mobile){
					max-width:100%;
				}
				@include media($h-ipad-max-screen){
					max-width: 23.81vw;
				}

			}
			
		}


	}
	

}


