// Foco

$foco: 'Foco W01 Regular1373692', 'Foco', 'Calibri W01 Regular_904604', Calibri, sans-serif; 
$focolight: 'Foco W01 Light1373672', 'Foco', 'Calibri W01 Light', Calibri, sans-serif; 
$focobold: 'Foco W01 Bold1373642', 'Foco', 'Calibri W01 Bold_904607', Calibri, sans-serif; 

// Calibri

$calibri: 'Calibri W01 Regular_904604', Calibri, 'Foco W01 Regular1373692', 'Foco', sans-serif; 
$calibrilight: 'Calibri W01 Light', Calibri, 'Foco W01 Light1373672', 'Foco', sans-serif; 
$calibribold: 'Calibri W01 Bold_904607', Calibri, 'Foco W01 Bold1373642', 'Foco', sans-serif; 


// Font Sizes

$xs-heading: normal normal normal 37px/37px $focobold;
$sm-heading: normal normal normal 48px/48px $focobold;
$md-heading: normal normal normal 55.5px/55.5px $focobold;
$md-heading-light: normal normal normal 55.5px/55.5px $focolight;
$rg-heading: normal normal normal 74px/74px $focobold;
$lg-heading: normal normal normal 103px/103px $focobold;
$xl-heading: normal normal normal 133px/133px $focobold;

$xs-subheading: normal normal normal 25px/25px $focobold;
$sm-subheading: normal normal normal 27px/34px $focobold;
$md-subheading: normal normal normal 30.6px/37.6px $focobold;
$rg-subheading: normal normal normal 36px/43px $focobold;
$lg-subheading: normal normal normal 50.4px/57.4px $focobold;
$xl-subheading: normal normal normal 64.8px/71.8px $focobold;

$md-subheading-light: normal normal normal 55.5px/55.5px $focolight;

$xs-heading-p: normal normal normal 23.4px/30.4px $focolight;
$sm-heading-p: normal normal normal 13.5px/16.5px $focolight;
$md-heading-p: normal normal normal 16px/18px $focolight;
$rg-heading-p: normal normal normal 18px/22px $focolight;
$lg-heading-p: normal normal normal 25px/31px $focolight;
$xl-heading-p: normal normal normal 32.4px/40px $focolight;

$xs-sq-heading-p: normal normal normal 18px/21px $focobold;
$sm-sq-heading-p: normal normal normal 21px/25px $focobold;
$md-sq-heading-p: normal normal normal 24px/28.5px $focobold;
$rg-sq-heading-p: normal normal normal 32px/38px $focobold;
$lg-sq-heading-p: normal normal normal 44.8px/53px $focobold;
$xl-sq-heading-p: normal normal normal 57.6px/68.4px $focobold;

$sm-sq-heading: normal normal normal 12px/14.3px $focolight;
$md-sq-heading: normal normal normal 13.5px/16.5px $focolight;
$rg-sq-heading: normal normal normal 18px/22px $focolight;
$lg-sq-heading: normal normal normal 25px/31px $focolight;
$xl-sq-heading: normal normal normal 32.4px/40px $focolight;

$sm-dropdown-title: normal normal normal 14px/27.3px $focolight;
$md-dropdown-title: normal normal normal 15.5px/31.5px $focolight;
$rg-dropdown-title: normal normal normal 20px/42px $focolight;
$lg-dropdown-title: normal normal normal 27px/59px $focolight;
$xl-dropdown-title: normal normal normal 25.2px/65.6px $focolight;

$sm-dropdown-link: normal normal normal 9px/18.2px $focolight;
$md-dropdown-link: normal normal normal 10.5px/21px $focolight;
$rg-dropdown-link: normal normal normal 14px/28px $focolight;
$lg-dropdown-link: normal normal normal 20px/39px $focolight;
$xl-dropdown-link: normal normal normal 20.2px/40.4px $focolight;

$xl-menu-disclaimer: normal normal normal 13px/16px $focobold;

$sm-story-heading: normal normal normal 13px/15px $focobold;
$md-story-heading: normal normal normal 17px/19px $focobold;
$rg-story-heading: normal normal normal 20px/22px $focobold;
$lg-story-heading: normal normal normal 28px/30px $focobold;
$xl-story-heading: normal normal normal 36px/38px $focobold;

$sm-story-p: normal normal normal 9.1px/13.1px $focolight;
$md-story-p: normal normal normal 11.9px/15.9px $focolight;
$rg-story-p: normal normal normal 14px/18px $focolight;
$lg-story-p: normal normal normal 19.6px/23.6px $focolight;
$xl-story-p: normal normal normal 25.2px/29.2px $focolight;


$link: normal normal normal 24px/28.8px $focobold;
$lg-link: normal normal normal 33.6px/40.32px $focobold;
$xl-link: normal normal normal 43.2px/51.84px $focobold;


$xs-smalllink: normal normal normal 8px/8px $focolight;
$sm-smalllink: normal normal normal 10px/10px $focolight;
$smalllink: normal normal normal 12px/12px $focolight;
$lg-smalllink: normal normal normal 14px/14px $focolight;
$xl-smalllink: normal normal normal 16px/16px $focolight;
