ul#menu {
    @include position(fixed, 0 null null 0);
    margin: 0;
    width: 20vw;
    height: 100vh;
    background: $gray;
    color: white;
    cursor: pointer;
    list-style: none;
    z-index: 11400;
    padding: 0 25px 25px 25px;
    @include transform(translateX(-150%));
    @include transition(transform .85s ease-in-out);
    list-style: none;
    // &.nav-is-inactive{
    //     z-index: -8000;
    //     @include transform(scaleY(.002));
    //     opacity:0;
    // }
    
    @include media($md-desktop){
        width: 30vw;
    }
    @include media($macbook-pro-13){
        width: 30vw;
    }
    @include media($sm-desktop){
        width: 30vw;
    }
    @include media($sm-mobile){
        width: 40vw;
    }
    @include media($xs-mobile){
        width: 100vw;
    }
    .close-menu{
        display: none;
        width: 100%;
        height: 7vh;

        &.show{
            display: block!important;
        }

        .close-trigger, .burger{
            top:3.5vh;
            left: 1.75vw;
            @include transition(background .5s ease-in-out);
        }

        .burger{
            background-image: url('../images/full-menu-logo.svg')!important;
        }

        .close-trigger {
            background: none;
            z-index: 12000;
            width: 100%;
            height: 7vh;
            display: block;
            top: 5px;
            left: 20px;
            @include position(absolute, 5px null null 20px);

            @include media($v-iphone-6-plus){
                top:0;
                left:0;
                width:40%;
            }

            .burger{
                .global-logo:after{
                    @include transition(opacity .5s ease-in-out);
                }
            }
        }  
        
    }

    .main-link {
        padding-top: 20px;

        a {
            text-decoration: none;
        }
    }

    li{
        
        text-align: left;
        color: white;
        width:100%;
        padding-bottom: 0px;
        @include transition(color .35s ease-in-out);
        list-style: none;
        
        &:nth-of-type(2){
            .main-link{
                margin-bottom: 20px;   
            }
            
        }
        &:nth-of-type(3){
            .main-link {
                padding-top: 0px!important;
            }
        }


        &:hover{
            color: white;
            @include transition(color .35s ease-in-out);
        }

        span{
            vertical-align: middle;
            display: inline-block;
        }

        ul.dropdown{
            padding-left: 15px;
            height:0;
            overflow: hidden;
            opacity:  0;
            margin: 0;
            @include transition(all 1.5s $ease-in-out-quad);


            &.is-open{
                height:auto;
                opacity:1;
                 @include transition(all 1.5s $ease-in-out-quad);
            }

            .arrow{
                width: auto;
                height: 1.2vw;
                max-height: 40px;
                min-height:20px;
                display: inline-block;
                float: right;
                vertical-align: top;
                margin-top: 5px;
                @include transition(transform .35s ease-in-out);
            }

            .play-btn{
                width: 9%;
                max-width: 40px;
                min-width:20px;
                display: inline-block;
                vertical-align: middle;
                margin-right: 10px; 
            }
            .dropdown-link{
                vertical-align: middle;
                display: inline-block;
            }

            .dropdown-title{
                display: inline-block;
                vertical-align: top;
            }

            li{
                margin-bottom: 5px;
                
                ul{
                    padding-left: 20px;
                    height:0;
                    overflow: hidden;
                    opacity:  0;
                    margin: 0;

                    &.is-open{
                        height:auto;
                        opacity:1;
                        @include transition(all 1.5s $ease-in-out-quad);
                    }
                }

            }

        }


           ul.hidden{
                display: none;
                opacity: 0;
                @include transition(opacity 1s ease-in-out);
            }


            .dropdown a {
                text-decoration: none;
            }

           

    }

    .active {
        display: block;
    }

    li#menu-disclaimer{
        font-family: $focobold;
        font-size: 13px;
        line-height: normal;
        width: 90%;

        @include position(absolute, null null 4vh null);
    }

}
