header{
    @include position(fixed, 0 0 0 0);
    width:100%;
    height:7vh;
    z-index:4000;
    @include transform(translateY(-100%));
    @include transition(transform .65s $ease-out-quad);

    .global-nav{
        position: relative;
        width:100%;
        height:7vh;
        background: white;

        .toggle-menu{
            height:100%;
            width:20%;
            .nav-trigger, .burger, .burger:before, .burger:after {
                top:3.5vh;
                left: 1.75vw;
                @include transition(background .5s ease-in-out);
            }

            .nav-trigger {
                background: none;
                z-index: 12000;
                width: 20%;
                top: 5px;
                left: 20px;
            }  

            .burger{
                background-image: url('../images/full-nav-logo.svg');
                 @include transition(opacity .5s ease-in-out);
            }
            
            &.menu-is-active{
                .burger, .burger:before, .burger:after{
                }
                .burger{
                    
                        opacity:0!important;
                    
                }
            }  
        }

        
    }
     .add-border {
                 border-bottom: 1px solid $aetnaBlue;

            }
}