@import '../base/fonts';

#preloader {

  @include position(fixed, 0 0 0 0);
  width: 100%;
  height: 100%;
  z-index: 1001;
  margin:0 auto;
  color: white;

  &.is-hidden {
    visibility: hidden;
    opacity: 0; 
  }

  video#teaser-video { 
    @include position(fixed, 50% 0 0 50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    display: inherit;
    @include transform(translateX(-50%) translateY(-50%));
    background: url('../images/intro.png') no-repeat;
    background-size: cover;
    @include transition(1s opacity);
    
    @include media($v-iphone-6-plus){
      
    }
  }

  div.mobile-bg {
    @include position(fixed, 0 0 0 0);
    z-index: -1000;
    display: inherit!important;
    min-width: 120%;
    min-height: 100%;
    background-image: url('../images/mobile-teaser-video.gif');
    background-size: cover;
    background-repeat: no-repeat;
    @include media($v-iphone-6-plus){
      display:none;
    }
  }
  
  .preloader-container {
    margin: 0 auto;
    width: auto;
    text-align: center;

    div.enter-site-link-container{
      margin: 0 auto;
      margin-top: 47.25vh;
      position: relative;

      .enter-site-link{
        width:auto;
        cursor: pointer;
        opacity:0;
        @include transform(translateX(-100px));

        .right-arrow{
          width: 10px;
          height: auto;
          vertical-align: middle;
          margin-left: 10px;

          @include media($xl-desktop){
            width: 18px;
          }
          @include media($lg-desktop){
            width: 14px;
          }
          @include media($md-desktop){
            width: 14px;
          }
        }
      }
    }
  }

  #skip-intro{
    @include position(fixed, null 20px 20px null);
    font: $smalllink;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    @include transition(font .7s ease-in-out);
    z-index: 4000;

    @include media($xl-desktop){
      font: $xl-smalllink;
    }
    @include media($lg-desktop){
      font: $lg-smalllink;
    }
    @include media($md-desktop){
      font: $lg-smalllink;
    }
    @include media($sm-desktop-height){
      font: $smalllink;
    }
    @include media($macbook-pro-13){
      font: $smalllink;
    }
    @include media($h-ipad-max-screen){
      font: $smalllink;
    }

  }

  #splash-screen{
    @include position(fixed, 0 0 0 0);
    z-index:99999;
    width: 100vw;
    height: 100vh;
    background-image: url('../images/splash.jpg');
    background-size: cover;
    opacity: 1;
    @include transition(opacity 1s ease-in-out);

    &.faded{
      opacity:0;
      z-index: 1;
    }

    @include media($v-ipad-max-screen){
      background: $aetnaBlue;
    }

    .preloader-logo{
      display: none;
      @include media($v-ipad-max-screen){
        display: block;
        width:20vw;
        @include position(fixed, 10px null null 50%);
        @include transform(translateX(-50%));  
      }
      
    }
    
    div.tap-cta{
      display: none;
      @include media($v-ipad-max-screen){
        display: block;
        @include position(fixed, 50% null null 50%);
        @include transform(translate(-50%,-50%));
        width:85vw;
      }
    
      p{
        margin-bottom: 30px;
        font: $xs-heading;
        text-align: center;

        span{
          display: block;
          margin-top: 20px;
          font-size: 20px;
        }
      }

      .cbutton {
        @include media($v-ipad-max-screen){
          @include position(absolute, null null -30% 50%);
          display: inline-block;
          margin: 1em;
          padding: 0;
          border: none;
          background: none;
          color: #ffffff;
          font-size: 1.4em;
          overflow: visible;
          -webkit-transition: color 0.7s;
          transition: color 0.7s;
          -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
          outline: none;
          margin: 0 auto;
          text-align: center;
        }
      }


      .cbutton__icon {
        @include media($v-ipad-max-screen){
          display: block;
          margin: 0 auto;
          text-align: center;
        }
      }

      .cbutton::after {
        @include media($v-ipad-max-screen){
          position: absolute;
          top: 50%;
          left: 50%;
          margin: -35px 0 0 -35px;
          width: 70px;
          height: 70px;
          border-radius: 50%;
          content: '';
          opacity: 0;
          pointer-events: none;
          @include transform(translate(-50%,-50%));
        }
      }
    }
    
  }
}

