@import "fonts";

h1,
h2,
h3,
h4,
h5,
h6,
a,
div{
	color: white;
	font-style: normal;
	margin: 0;
}

p.enter-site-link{
	font: $link;
	@include transition(font .5s ease-in-out);

	@include media($xl-desktop){
		font: $xl-link;
	}
	@include media($lg-desktop){
		font: $lg-link;
	}
	@include media($md-desktop){
		font: $lg-link;
	}
}

ul#menu li{
	font: $link;
	@include transition(font .5s ease-in-out);

	@include media($xl-desktop){
		font: $lg-link;
	}
	@include media($lg-desktop){
		font: $lg-link;
	}
	@include media($md-desktop){
		font: $lg-link;
	}
}

.global-apn p{
	font: $sm-smalllink;
	@include transition(font .5s ease-in-out);

	@include media($xl-desktop){
		font: $smalllink;
	}
	@include media($lg-desktop){
		font: $sm-smalllink;
	}
	@include media($md-desktop){
		font: $sm-smalllink;
	}
}

#grid-item-1 h1 {
	font: $rg-heading;
	@include media($xl-desktop){
		font: $lg-heading;
	}
	@include media($lg-desktop){
		font: $lg-heading;
	}
	@include media($md-desktop){
		font: $rg-heading;
	}
	@include media($lg-mobile){
		font: $rg-heading;
	}
	@include media($md-mobile){
		font: $md-heading;
	}
	@include media($mobile){
		font: $sm-heading;
	}
	@include media($sm-mobile){
		font: $sm-heading;
	}
	@include media($xs-mobile){
		font: $xxs-heading;
	}
}

#grid-item-1 p, .has-white-background .slide-2 p {
	font: $rg-sq-heading;
	@include media($xl-desktop){
		font: $xl-sq-heading;
	}
	@include media($lg-desktop){
		font: $xl-sq-heading;
	}
	@include media($md-desktop){
		font: $lg-sq-heading;
	}
	@include media($lg-mobile){
		font: $rg-sq-heading;
	}
	@include media($md-mobile){
		font: $rg-sq-heading;
	}
	@include media($mobile){
		font: $md-sq-heading;
	}
	@include media($sm-mobile){
		font: $md-sq-heading;
	}
	@include media($xs-mobile){
		font: $sm-sq-heading;
	}
}

.grid-item-small p, .grid-item-square p {
	font: $md-sq-heading-p;
	@include media($xl-desktop){
		font: $lg-sq-heading-p;
	}
	@include media($lg-desktop){
		font: $lg-sq-heading-p;
	}
	@include media($md-desktop){
		font: $rg-sq-heading-p;
	}
	@include media($lg-mobile){
		font: $md-sq-heading-p;
	}
	@include media($md-mobile){
		font: $md-sq-heading-p;
	}
	@include media($mobile){
		font: $xs-sq-heading-p;
	}
	@include media($sm-mobile){
		font: $xs-sq-heading-p;
	}
	@include media($xs-mobile){
		font: $xs-sq-heading-p;
	}
}

.grid-item-small h2, .grid-item-square h2 {
	font: $rg-sq-heading;
	@include media($xl-desktop){
		font: $xl-sq-heading;
	}
	@include media($lg-desktop){
		font: $xl-sq-heading;
	}
	@include media($md-desktop){
		font: $lg-sq-heading;
	}
	@include media($lg-mobile){
		font: $rg-sq-heading;
	}
	@include media($md-mobile){
		font: $rg-sq-heading;
	}
	@include media($mobile){
		font: $md-sq-heading;
	}
	@include media($sm-mobile){
		font: $md-sq-heading;
	}
	@include media($xs-mobile){
		font: $sm-sq-heading;
	}
}

.dropdown-title {
	font: $rg-dropdown-title;
	line-height: 20px!important;

	@include media($xl-desktop){
		font: $xl-dropdown-title;
		line-height: 25.2px!important;
	}
	@include media($lg-desktop){
		font: $xl-dropdown-title;
		line-height: 25.2px!important;
	}
	@include media($md-desktop){
		font: $lg-dropdown-title;
		line-height: 27px!important;
	}
	@include media($lg-mobile){
		font: $rg-dropdown-title;
		line-height: 20px!important;
	}
	@include media($md-mobile){
		font: $rg-dropdown-title;
		line-height: 20px!important;
	}
	@include media($mobile){
		font: $md-dropdown-title;
		line-height: 15.5px!important;
	}
	@include media($sm-mobile){
		font: $md-dropdown-title;
		line-height: 15.5px!important;
	}
	@include media($xs-mobile){
		font: $rg-dropdown-title;
		line-height: 20px!important;
	}
}

.dropdown-link {
	font: $rg-dropdown-link;
	@include media($xl-desktop){
		font: $xl-dropdown-link;
	}
	@include media($lg-desktop){
		font: $xl-dropdown-link;
	}
	@include media($md-desktop){
		font: $lg-dropdown-link;
	}
	@include media($lg-mobile){
		font: $rg-dropdown-link;
	}
	@include media($md-mobile){
		font: $rg-dropdown-link;
	}
	@include media($mobile){
		font: $md-dropdown-link;
	}
	@include media($sm-mobile){
		font: $md-dropdown-link;
	}
	@include media($xs-mobile){
		font: $rg-dropdown-link;
	}
}

ul #menu{

#menu-disclaimer li{
	font: $xl-menu-disclaimer;
	@include media($xl-desktop){
		font: $xl-menu-disclaimer;
	}
}
}