.top-square, .mobile-top-square {
    width: 20vw;
    max-width: 20vw;
    overflow: hidden;
    height: 19.9vw;
    display: inline-block;
    position: fixed;

    @include media($xl-desktop){
        width: 20vw;
        max-width: 20vw;
        height: 19.9vw;
    }
    @include media($most-common-screen){
        width: 20vw;
        max-width: 20vw;
        height: 19.55vw;
    }
    @include media($macbook-pro-13){
        width: 20vw;
        max-width: 20vw;
        height: 20vw;   
    }
    @include media($sm-desktop){
        width: 20vw;
        max-width: 20vw;
        height: 20vw;  
    }
    @include media($mobile){
        width: 33.333vw;
        max-width: 33.333vw;
        overflow: hidden;
        height: 33.333vw;   
    }
    @include media($sm-mobile){
        display: none;  
    }

    div.top-square-container{
        width: 80%;
        @include position(absolute, 50% null null 50%);
        @include transform(translate(-50%, -50%));
        h2 {
            color: white;
            text-align: center; 
            vertical-align: middle;	
            padding-bottom: 15px;
            font: $lg-subheading; 

            @include media($xl-desktop){
                font: $xl-subheading;
                padding-bottom: 25px;    
            }
            @include media($most-common-screen){
                font: $rg-subheading;
            }
            @include media($macbook-pro-13){
                font: $rg-subheading;
            }
            @include media($sm-desktop){
                font: $md-subheading;
            }
            @include media($desktop-bp){
                font: $xs-subheading;    
            }
        }
        div.underline{
            width:30%;

            @include media($xl-desktop){
                width:20%;
            }
        }
        p{
        	font-family: $focolight!important;
            color: white;
    		text-align: center;
    		width: 100%;
    		margin: 0 auto;
    		margin-top: 18px;
            font: $md-sq-heading-p;

            @include media($xl-desktop){
                font: $rg-sq-heading-p; 
                margin-top: 28px;  
            }
            @include media($most-common-screen){
                font: $sm-sq-heading-p;
            }
            @include media($macbook-pro-13){
                font: $sm-sq-heading-p;
            }
            @include media($sm-desktop){
                font: $xs-sq-heading-p;
            }
            @include media($sm-mobile){
                font: $md-heading-p;
            }
        }
        a{

        }
    }
}

.mobile-top-square{
    display:none!important;

    @include media($sm-mobile){
        display:inline-block!important;
    }
}