header{
    @include position(fixed, 0 0 0 0);
    width:100%;
    height:7vh;
    min-height: 60px;
    z-index:1000;
    @include transform(translateY(-100%));
    @include transition(transform .65s $ease-out-quad);

    .global-nav{
        position: relative;
        width:100%;
        height:7vh;
        min-height: 60px;
        background: white;

        .toggle-menu{
            .nav-trigger, .burger, .burger:before, .burger:after {
                top:3.5vh;
                left: 1.75vw;
                background: $aetnaBlue;
                @include transition(background .5s ease-in-out);
            }

            .nav-trigger {
                background: none;
                z-index: 12000;
                width: 20%;
                top: 5px;
                left: 20px;

                .burger{
                    .global-logo:after{
                        @include transition(opacity .5s ease-in-out);
                    }
                }
            }  
            
            &.menu-is-active{
                .burger, .burger:before, .burger:after{
                    background: white!important;
                }
                .burger{
                    .global-logo:after{
                        opacity:0!important;
                    }
                }
            }  
        }

        
    }
     .add-border {
                 border-bottom: 1px solid $aetnaBlue;

            }
}