
// Colors

  // Opaque
  
  $aetnaBlue: #0ba2c3;
  $green: #00a78e;
  $orange: #e9640b;
  $blue: #5f78bb;
  $lime: #7ac143;
  $pink: #d20962;
  $gray: #2E3238;
  $transBlack: rgba(0,0,0,.8);
  $gray: #2E3238;
  $ltgray:rgba(0,0,0,.3);

  // Translucent
  
  $transWhite: rgba(255,255,255,0.5);
  $transBlack: rgba(0,0,0,0.37);
  $transGreen: rgba(20,153,123,0.75);
  $transOrange: rgba(233,100,11,0.75);
  $transBlue: rgba(95,120,187,0.75);
  $transLime: rgba(122,193,67,0.75);
  $transPink: rgba(210,9,98,0.75);
